<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/public/logo1.png">
    <title>StockDx</title>
</head>
<div>
    <header class="p-3 mb-3 border-bottom" style="background-color: #EEE9E3;">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="/user"><img src="/public/logo.jpeg" alt="Bookpedia Store" style="width: 150px; margin-top: 5px;"></a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/user" class="nav-link px-2 link-secondary">Home</a></li>
              <li><a href="/shoes" class="nav-link px-2 link-body-emphasis">Shoes</a></li>
              <li><a href="/categories" class="nav-link px-2 link-body-emphasis" hidden>Categories</a></li>
            </ul>
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://th.bing.com/th/id/OIG.4ugPDl9LW2YtGSRRJoq4?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
    </header>
</div>
<body style="background-color: #EEE9E3;">
</body>
</html>